<html>
    <body>
        <form method="POST" action="">
            {{ form.csrf_token }}
            
            {{ form.text.label }} {{ form.text}}
            
            <input type="submit" value="Go">
        </form>

        <div>
            {% if occurrence %}
                <div class="page-header">
                    <h2>Paris a été trouvé {{ occurrence }} fois.</h2>
                </div>
            {% endif %}
        </div>
        
        <div class="page-header">
            {% if text %}
                <h4>Voici votre texte: </h4>
                {{text}}
            {% endif %}
        </div>

        {% for field, errors in form.errors.items() %}
        <div class="alert alert-error">
            {{ form[field].label }}: {{ ', '.join(errors) }}
        </div>
        {% endfor %}        

    </body>
</html>